   <nav class="bg-light sidebar">
        <div class="sidebar-sticky">
          <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link" href="#" routerLink="/">Introduction</a>
            </li>
            <li class="nav-item">
                <a class="nav-link"  href="#" routerLink="/nregion">Lands and Resources</a>
                <ul class="navbar-nav ml-4">
                  <li class="nav-item "> 
                    <a class="nav-link" href="#" routerLink="/nregion">Natural Regions</a></li>
                  <li class="nav-item">
                      <a  class="nav-link" href="#" routerLink="/rivers">Rivers and Lakes</a>   
                  </li>
                  <li class="nav-item">
                    <a  class="nav-link" href="#" routerLink="/plant">Plants and Animal Life</a></li>
                  <li class="nav-item">
                    <a  class="nav-link" href="#" routerLink="/nresources">Natural Resources</a></li>
                  <li class="nav-item">
                    <a class="nav-link"  href="#" routerLink="/climate">Climate</a></li>
                  <li class="nav-item">
                    <a class="nav-link"  href="#" routerLink="/environment">Environmental Issue</a></li>
                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" routerLink="/literature" >Arts</a>
                <ul class="navbar-nav ml-4">
                  <li class="nav-item "> 
                    <a  class="nav-link" href="#" rrouterLink="/literature">Literature</a></li>
                  <li class="nav-item">
                      <a class="nav-link"  href="#" routerLink="/arts">Arts and Architecture</a>   
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"  href="#" routerLink="/music">Music and Dance</a>
                  <li class="nav-item">
                    <a class="nav-link"  href="#" routerLink="/theater">Theather and Film</a>
                  <li class="nav-item">
                    <a class="nav-link"  href="#" routerLink="/climate">Climate</a></li>
                  <li class="nav-item">
                    <a class="nav-link"  href="#" routerLink="/libraries">Libraries and Museums</a>
                </ul>
            </li>
            
          </ul>
        </div>
      </nav>
  