<div class="container">
    <div class="row">
      <div class="col">
        <div class="card">
          <div class="card-header"><h2>ARTS AND ARCHITECTURE</h2>
            
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-9">
                  <p>
                      Over many centuries, Indian architecture, sculpture, and painting developed many distinct styles based on religious, cultural, and regional influences. Some of the earliest examples of all three come out of Buddhism. For instance, Buddhist traditions gave rise to stupas, or burial mounds of earth and stone, constructed in the 3rd century bc. Images of the Buddha were carved in the 2nd century ad, and stories of the Buddha are depicted in paintings on temple walls carved in stone cliffs at Ajanta between the 2nd century bc and the 7th century ad.
                  </p>
                  <p>
                      After the 5th century ad Buddhism’s influence on art declined as that of Hinduism and Jainism rose. Hindu and Jain temples developed in many styles, most characterized by ornate carvings, pyramidal roofs and spires, and numerous sculptures of divinities housed within. Sculpture frequently portrayed Hindu and Jain gods in relief on temple walls, and became increasingly elaborate, linear, and decorative through the 13th century. 
                  </p>
                  <p>
                      Muslim invaders from Central Asia and Persia brought new artistic styles and techniques, among them the dome, mosaic, and minaret. Many domed tombs and mosques from the 12th century and later have been preserved, as have some magnificent fortresses. Because Islam forbids carved images, sculpture took the form of gloriously elaborate geometric and floral designs adorning the temples. One of the most famous examples of Islamic architecture in India is the Taj Mahal in Agra (started in 1632 and completed in 1648).
                  </p>
                  <p>
                      It is believed that most early painting has not survived because the materials, such as wood and cloth, that were used as surfaces were fragile. The paintings that did survive are of two types: wall paintings and miniature paintings. In addition to those found in about 30 caves at Ajanta, wall paintings dating from the 2nd to the 7th century ad have been found in cave temples in Tamil Nadu and Orissa. Most of these frescoes depict stories from the life of Buddha. The first surviving examples of miniature paintings are palm leaf manuscripts from the 11th century illustrating the life of Buddha. Secular-themed miniatures developed in the courts of Muslim sultans who controlled northern India after the 13th century. These illustrated manuscripts reached their height in the 16th through 18th centuries. They were heavily influenced by Persian art and often showed historical scenes and portraits.
                  </p>
                  <p>
                      Beginning in the 19th century, European influence affected all of the arts. Twentieth-century artists of significance include Amrita Sher Gill and M. F. Hussain. The best-known architect, who works in the international modern style, is Charles Correa. See Indian Art and Architecture.
                  </p>
              </div>
              <div class="col-md-3">
                  <img src="../../../assets/img/arts/taj.JPG" alt="" class="img-fluid mx-2">
              </div>
            </div>
  
           
          </div>
        </div>
      </div>
    </div>
  </div>
  