<div class="container">
    <div class="row">
      <div class="col">
        <div class="card">
          <div class="card-header"><h2>Plant And Animals Life</h2>
            <div class="card-title">India is home to abundant plant and animal life and has a wide range of climates that accommodate a diversity of species throughout the country. Broadly classified, there are seven major regions for plant and animal life in India the arid Indus Plain, the Gangetic Plain, the Himalayas, Assam Valley, the Malabar Coast, the peninsular plateau, and the Andaman and Nicobar Islands.</div>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-9">
                  <p>
                      In the arid areas that adjoin Pakistan, the eastern part of the Indus Plain, most plant life is sparse and herblike. Various thorny species, including capers (spiny shrubs with pale flowers) and jujubes (fruit-producing trees with veined leaves and yellowish flowers), are common. Bamboo grows in some areas, and among the few varieties of trees is the palm. The Gangetic Plain, which has more moisture, supports many types of plant life. Vegetation is especially luxuriant in the southeastern part of the plains region, where the mangrove and the sal, a hardwood timber tree, flourish.

                      In the Himalayas many varieties of arctic flora are found on the higher slopes. The lower levels of the mountain range support many types of subtropical plant life, notably the orchid. Dense forests remain in the few areas where agriculture and commercial forestry have had little effect. Coniferous trees, including cedar and pine.
                  </p>
              </div>
              <div class="col-md-3">
                  <img src="../../../assets/img/land and resources/forest.JPG" alt="" class="img-fluid">
              </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <img src="../../../assets/img/land and resources/tiger.JPG" alt="" class="img-fluid">
                </div>
                <div class="col-md-9">
                    <p>
                        In the Himalayas many varieties of arctic flora are found on the higher slopes. The lower levels of the mountain range support many types of subtropical plant life, notably the orchid. Dense forests remain in the few areas where agriculture and commercial forestry have had little effect. Coniferous trees, including cedar and pine, predominate in the northwestern Himalayan region. On the Himalayas’ eastern slopes, tropical and subtropical types of vegetation abound. Here rhododendrons grow to tree height. Among the predominant trees are oak and magnolia.
                    </p>
                </div>
              </div>

              <div class="row">
                  <div class="col-md-9">
                      <p>
                          The Gir National Park and Wildlife Sanctuary in Gujarat, India, is the only remaining habitat of the Asiatic lion, a species that was nearly extinct in the early 1900s. Here officials keep track of the individual prides (companies of lions).

                          India is inhabited by a wide variety of animal life, including almost 5,000 species of larger animals. Several species of the cat family—including the tiger, panther, Asiatic lion, Asiatic cheetah, snow leopard, jungle cat, and clouded leopard—live in some areas of India. Most of these species are under threat of extinction. Elephants roam the lower slopes of the central and eastern Himalayan foothills and the remote forests of the southern Deccan Plateau. Other large quadrupeds (four-footed animals) native to India include rhinoceros (under threat of extinction), black bear, wolf, jackal, dhole (wild Asian dog), wild buffalo, wild hog, antelope, and deer. Several species of monkeys live throughout the country.
                       </p>
                  </div>
                  <div class="col-md-3">
                      <img src="../../../assets/img/land and resources/lion.JPG" alt="" class="img-fluid">
                  </div>
                </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  