<div class="container">
    <div class="row">
      <div class="col">
        <div class="card">
          <div class="card-header"><h2>THEATERS AND FILM</h2>
            
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-9">
                  <p>
                      India has had a distinguished theatrical tradition for more than a thousand years. The Gupta Dynasty (ad 320-550?) saw the flowering of Sanskrit drama. The great plays that survive from that time are generally secular, such as Shakuntala by Kalidasa, about the court, kings, and courtesans. Classical plays are rarely revived, although modern playwrights have experimented with traditional mythic and historical themes. Theater other than folk theater, which struggles despite government patronage to survive, is directly from the European tradition and is popular only in larger cities. Theater has been eclipsed by the cinema and more recently by television.
                  </p>
              </div>
              <div class="col-md-3">
                  <img src="../../../assets/img/arts/poster.JPG" alt="" class="img-fluid mx-2">
              </div>
            </div>

            <div class="row my-3">
                <div class="col-md-2">
                    <img src="../../../assets/img/arts/ray.JPG" alt="" class="img-fluid mx-2">
                </div>
                <div class="col-md-10">
                    <p>
                        India produces more films annually than any other country. The audience, despite the spread of televisions and videocassette recorders, is still enormous. Popular films are generally written to a formula and are often embellished with songs and dance routines. Film themes vary from historical and religious to social: rich boy meets poor girl; twins separated at birth become policeman and criminal; boy sacrifices his love for a girl to patriotic duty or to the desires of parents, who wish him to marry another. Popular cinema rarely has realistic settings or plots, and imitations of Western films are common. Indian film is a significant cultural export to Central Asia, the Middle East, and Africa.
                    </p>
                    <p>
                        During his lifetime, Satyajit Ray (1921-1992) was considered one of India’s leading filmmakers. He gained international praise for his films about Indian life. In 1992 Ray was honored for lifetime achievement in cinema by the Academy of Motion Picture Arts and Sciences.
                    </p>
                </div>
                
              </div>
  
           
          </div>
        </div>
      </div>
    </div>
  </div>
  