<div class="container">
    <div class="row">
      <div class="col">
        <div class="card">
          <div class="card-header"><h2>CLIMATE</h2>
            
          </div>
          <div class="card-body">
            
                  <p>India’s shape, unusual topography, and geographical position give it a diverse climate. Most of India has a tropical or subtropical climate, with little variation in temperature between seasons. The northern plains, however, have a greater temperature range, with cooler winters and hotter summers. The mountain areas have cold winters and cool summers. As elevations increase sharply in the mountains, climate type can change from subtropical to polar within a few miles.

                      India’s shape, unusual topography, and geographical position give it a diverse climate. Most of India has a tropical or subtropical climate, with little variation in temperature between seasons. The northern plains, however, have a greater temperature range, with cooler winters and hotter summers. The mountain areas have cold winters and cool summers. As elevations increase sharply in the mountains, climate type can change from subtropical to polar within a few miles.
                      
                      India’s hot and dry season reaches its peak during May, when temperatures as high as 49°C (120°F) are commonly recorded in the northern plains. Temperatures in the southern peninsula are somewhat lower, averaging 35° to 40°C (95° to 104°F). At higher altitudes, as in the Western Ghats and the Himalayas, temperatures are considerably cooler.
                      
                      The intense heat breaks when the summer monsoon season arrives in June. For most of the year the monsoons, or seasonal winds, blow from the northeast. In the summer months, however, they begin to blow from the southwest, absorbing moisture as they cross the Indian Ocean. This warm, moist air creates heavy rains as it rises over the Indian Peninsula and is finally forced up the slopes of the Himalayas. The rains start in early June on a strip of coast lying between the Arabian Sea and the foot of the Western Ghats. A second “arm” of the monsoon starts from the Bay of Bengal in the northeast and gradually extends up the Gangetic Plain, where it meets the Arabian Sea “arm” in the Delhi region around July 1. In July the average daily temperature range is 26° to 32°C (79° to 89°F) in Kolkata; 27° to 35°C (80° to 94°F) in New Delhi; 25° to 30°C (78° to 86°F) in Mumbai; and 26° to 36°C (79° to 96°F) in Chennai.
                      
                      The monsoon season is critical to India. Farming depends heavily on the monsoon, even though artificial sources of irrigation are also commonly used. The economy prospers when the monsoon season is normal and plummets when it is not. In the past a failure of the monsoon has brought abnormally low rains in crucial food-growing regions, leading to famine. A failed monsoon season in the dryland areas of the Deccan Plateau can mean poor or nonexistent harvests for that year’s crop. In the Gangetic Plain, the groundwater needed for irrigating the winter crop depends on the monsoon for replenishing. However, an excessive monsoon may also spell disaster, especially in the Gangetic Plain of eastern Uttar Pradesh and Bihar, where rivers can flood and wash away homes and fields.
                      
                      The average annual rainfall for India as a whole is 1,250 mm (49 in). The heaviest rainfall occurs along the Western Ghats, often more than 3,175 mm (125 in), and on the slopes of the eastern Himalayas and the Khasi Hills (of Meghalaya), where the town of Cherrapunji receives 10,900 mm (430 in) annually. The entire northeast region averages more than 2,000 mm (80 in) annually, with Jharkhand, Orissa, and the Bengal region receiving nearly as much. Rain and snow fall in abundance on the entire Himalayan range. New Delhi receives an annual average of 800 to 1,000 mm (32 to 40 in) of rain, and the broad swath of land extending to the south, much of it in the rain shadow of the Western Ghats, receives about the same or a little more.
              </p>
             
            </div>
        </div>
      </div>
    </div>
  </div>
  