<div class="container">
    <div class="row">
      <div class="col">
        <div class="card">
          <div class="card-header"><h2>LIBRARIES AND MUSEUMS</h2>
            
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col">
                  <p>
                      India has more than 60,000 libraries, including more than 1,000 specialized ones attached to various government departments, universities, and institutions. The National Library in Kolkata receives all books and magazines published in India. The National Archives and the Nehru Memorial Library and Museum are located in New Delhi. The Delhi Public Library is considered one of the best in India.
                  </p>
                  <p>
                      India has hundreds of museums. Some of them contain important historical and archaeological collections, such as the Indian Museum in Kolkata, the Government Museum and National Art Gallery in Chennai, the Chhatrapati Shivaji Maharaj Vastu Sangrahalay (formerly called the Prince of Wales Museum) in Mumbai, and the National Museum of India in New Delhi. Rich collections of sculptures, miniature paintings, and other historical and archaeological treasures are housed in museums in Mathura and Varanasi, and in several locations associated with archaeological sites. The Calico Museum of Textiles in Ahmadabad and the Crafts Museum in New Delhi have outstanding collections of Indian textiles. The Crafts Museum also houses a spectacular collection of folk art from all over the country. European art of the 19th century is a special feature of the Victoria Memorial Hall in Kolkata. The National Gallery of Modern Art is in New Delhi.
                  </p>
                  
                  
              
            </div>
  
           
          </div>
        </div>
      </div>
    </div>
  </div>
  