<div class="container">
    <div class="row">
      <div class="col">
        <div class="card">
          <div class="card-header"><h2>MUSIC AND DANCE</h2>
            
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col">
                  <p>
                      The basic structure of music and dance in India has been fundamentally indigenous, laid out in a 2nd century ad Sanskrit treatise on drama and music, the Natya Shastra. There are two classical traditions of music: the North Indian Hindustani style and the South Indian Carnatic (Karnatak) style. Although both styles of music were influenced by bhakti (devotional) traditions, the Hindustani style was also influenced in its instruments, styles, and schools of performance by Muslims invading from the north. Modern classical musicians of note include M. S. Subbalakshmi, a vocalist; Palghat Mani Iyer, a drum performer; Ravi Shankar, a sitar (stringed instrument) performer; Ali Akbar Khan, a sarod (plucked string instrument) performer; Bismillah Khan, a shehnai (reed instrument) performer; Amir Khan, who performs khyal (a north Indian vocal style); and the Dagar brothers, who perform dhrupad (another north Indian vocal style). 
                  </p>
                  <p>
                      Dance is a highly developed art form in India and is important as a pastime, in worship, and as part of Sanskrit dramas. The major classical dance forms are bharata natyam, kathak, manipuri, and kathakali. Bharata natyam, which is based on the Natya Shastra, is probably the most significant of these forms. It incorporates many of the precise movements, hand gestures, and facial expressions for which Indian dance is famous. Each movement and gesture the dancer performs has its own meaning. The kathak dance style originated in north India and emphasizes rhythmic footwork (under the weight of more than 100 ankle bells) and spectacular spins. The manipuri dance form, which is named for Manipur, where it originated, is known for its graceful turning and swaying. The kathakali form is a dance drama, characterized by mime and facial makeup resembling masks.
                  </p>
                  <p>
                      Well-known dancers of the postindependence era include Balasaraswati, who performed the bharata natyam form of dance, and Pandit Birju Maharaj, who performed the kathak form. In India, European style has influenced only popular music and dance, not classical. See Indian Music; Indian Dance.
                  </p>
                  
              
            </div>
  
           
          </div>
        </div>
      </div>
    </div>
  </div>
  