<div class="container">
    <div class="row">
      <div class="col">
        <div class="card">
          <div class="card-header"><h2>LITERATURE</h2>
            
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-9">
                  <p>
                      Indian literature has a long, rich history. Major literary influences flow from northern Sanskrit and southern Tamil origins. India’s classic literature is written in Sanskrit (see Sanskrit Literature). These literary works—mainly religious poems, epics, and prose—date to the Vedic period (about 1500 bc to 200 bc). Sanskrit literature entered a secular period beginning about 200 bc until about ad 1100. One great development for Indian literature during this period was drama. Most early dramas were based on historical epic tales. In south India, during a period lasting from the 1st to 5th centuries ad, literary works were composed in the Tamil language. These works were generally secular in nature and based on themes of love and war. By the 6th and 7th centuries the bhakti (devotional) tradition began in Tamil Nadu in southern India. This literary tradition greatly influenced Indian literature, moving north from its origin over the next five centuries.
                  </p>
                  <p>
                      Modern literature in north Indian languages, as they developed from Prakrits (medieval dialects of Sanskrit), dates from around ad 1200. Themes and characters of Indian literature from this period are based on Hindu religious texts, although the texts contain secular content. The work of recent centuries has brought in more secular subjects, influenced first by Persian and Urdu literature and then British literature, especially of the 19th century. In 1913 poet Rabindrinath Tagore became the first Indian to win a Nobel Prize for literature. Some present-day Indian authors write in English. Salman Rushdie, an Indian-born writer who now lives in Britain, is one of the more famous of a number of fine poets and novelists. See Indian Literature.
                  </p>
              </div>
              <div class="col-md-3">
                  <img src="../../../assets/img/arts/tagore.JPG" alt="" class="img-fluid mx-2">
              </div>
            </div>
  
           
          </div>
        </div>
      </div>
    </div>
  </div>
  