<div class="container">
    <div class="row">
      <div class="col">
        <div class="card">
          <div class="card-header"><h2>NATURAL RESOURCES</h2>
            <div class="card-title">India’s most important natural resources are land and water. About 54 percent of the land area is arable, and groundwater resources are considerable. The Gangetic Plain is one of India’s most fertile regions. The soils of this region were formed by the alluvial deposits of the Ganges and its tributaries. In this area, as well as in the peninsular deltas, groundwater is plentiful and close to the surface, making year-round irrigation possible. These regions may produce two or three harvests a year. Most of India’s wheat and rice are grown here. </div>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-9">
                  <p>The fertile soil of India’s river plains is an important natural resource. Rice is the principal crop grown in India, and the country ranks second only to China in world rice production. Much of the crop is used to feed the domestic population, as rice is the dietary staple for many Indians.

                      Forests constitute another natural resource for India, with woodlands covering 23 percent of its land area. India’s highly varied climate and land produce diverse forests. The majority are deciduous forests, which are either tropical-dry, experiencing a significant dry season, or tropical-moist, receiving relatively uniform rainfall year-round. The remainder of forests range in type from tropical evergreen to Himalayan temperate and alpine. Major commercial tree species include teak, rosewood, and sal. Bamboo is a widely used construction material. Despite significant overuse of forest resources in the past, government and private efforts have reduced the rate of deforestation in natural forests and increased new plantations of trees.
                      
                      The mineral resources of India include a vast belt of coal reserves stretching from the eastern part of Maharashtra state through Chhattisgarh and Jharkhand states to West Bengal state. The same geographical area, with the addition of Orissa state, contains major deposits of bauxite. Iron ore is also found here, as well as in the Western Ghats in and around Goa. Other mineral deposits include manganese (found mainly in central India), copper, and chromite. There are significant oil and natural gas reserves in Assam and Gujarat states, and on the continental shelf off Maharashtra and Gujarat. India also has ample reserves of phosphate rock, apatite, gypsum, limestone, and mica.</p>
              </div>
              <div class="col-md-3">
                  <img src="../../../assets/img/land and resources/rice.JPG" alt="" class="img-fluid mx-2">
              </div>
            </div>
  
           
          </div>
        </div>
      </div>
    </div>
  </div>
  